.by {
  position: absolute;
  top : 280%;
}

.by__text {
  color: white;
  font-family: 'akzidenzgrotesk';
  text-transform: uppercase;
  font-size: 60px;
  padding-left: 20px;

  @media(min-width: 768px) {
    font-size: 80px;
  }

  @media(min-width: 1600px) {
    font-size: 96px;
  }
}