.contact {
  position: absolute;
  top : 250%;

  @media(min-width: 1600px) {
    padding-left: 245px;
    padding-right: 245px;
    top : 270%;
  }
}

.contact__container {
  display: flex;
  align-items: flex-end;
}

.contact__title {
  color: $white-color;
  font-family: 'akzidenzgrotesk';
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 20px;

  @media(min-width: 768px) {
    font-size: 58px;
  }

  @media(min-width: 1600px) {
    font-size: 72px;
  }
}