#description-anchor {
  position: absolute;
  top : 90%;
}

.description {
  //height: 100vh;
  position: absolute;
  top : 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //padding-left: 10%;
}

.description__container {
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
}

.description__title {
  color: white;
  font-family: 'akzidenzgrotesk';
  text-transform: uppercase;
  font-size: 40px;

  @media(min-width: 768px) {
    font-size: 58px;
  }

  @media(min-width: 1200px) {
    font-size: 90px;
  }
}

.description__text {
  color: white;
  font-size: 18px;
  font-family: 'roboto';
  font-weight: lighter;
  margin-top: 72px;
  padding-left: 10%;
  width: 80%;

  @media(min-width: 768px) {
    font-size: 26px;
  }

  @media(min-width: 1200px) {
    padding-right: 120px;
  }

  @media(min-width: 1600px) {
    font-size: 36px;
  }
}

.description__skills {
  margin-top: 72px;
}

.description__skill {
  font-family: 'akzidenzgrotesk';
  //font-size: 20px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: calc(20px + (80 - 20) * ((100vw - 320px) / (1200 - 320)));
}





/*
.description__style {
  font-weight: bold;
  color: $primary-color;
}

.contact__logos {
  width: 210px;
  display: flex;
  justify-content: space-between;

  @media(min-width: 1000px) {
    width: 250px;
  }
}*/