#description-anchor {
  position: absolute;
  top : 80%;
}

.description {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description__container {
  display: flex;
  align-items: flex-end;
  padding-left: 10px;

  @media(min-width: 992px) {
    padding-left: 10%;
  }
}

.description__title {
  color: $white-color;
  font-family: 'akzidenzgrotesk';
  text-transform: uppercase;
  font-size: 40px;

  @media(min-width: 768px) {
    font-size: 58px;
  }

  @media(min-width: 1200px) {
    font-size: 90px;
  }
}

.description__text {
  color: $white-color;
  font-size: 18px;
  font-family: 'roboto';
  font-weight: lighter;
  margin-top: 40px;
  width: 80%;
  padding-left: 10px;

  @media(min-width: 768px) {
    font-size: 26px;
  }

  @media(min-width: 992px) {
    padding-left: 10%;
  }

  @media(min-width: 1200px) {
    margin-top: 104px;
  }

  @media(min-width: 1600px) {
    font-size: 36px;
  }
}

.description__skills {
  margin-top: 40px;

  @media(min-width: 1200px) {
    margin-top: 104px;
  }
}

.description__skill {
  font-family: 'akzidenzgrotesk';
  margin-top: 16px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: $primary-color;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: calc(22px + (66 - 22) * ((100vw - 320px) / (1200 - 320)));
}

.description__skill--color {
  color: $primary-color;
  -webkit-text-stroke-width: 0px;
}

.description__contact {
  display: flex;
  margin-top: 40px;
  
  @media(min-width: 1200px) {
    margin-top: 104px;
  }
}

.linkedin {
  position: absolute;
  left: 10%;
}

.contact__logo {
  max-width: 80%;

  @media(min-width: 1200px) {
    max-width: 100%;
  }
}

.dribbble {
  position: absolute;
  left: 20%;
}

.mail {
  position: absolute;
  left: 30%;
}

.contactMe {
  position: absolute;
  left: 40%;
  color: $white-color;
  font-family: "roboto";
  font-weight: lighter;
}