.groupDots__aspect {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  z-index: -1;

  @media(min-width: 1000px) {
    width: 14px;
    height: 14px;
  }
}

.purple {
  background-color: $primary-color;
}

.purple--stroke {
  border: 1px solid $primary-color;
  background-color: transparent;
}

.purple--medium {
  width: 18px;
  height: 18px;

  @media(min-width: 1000px) {
    width: 23px;
    height: 23px;
  }
}

.purple--bigger {
  width: 30px;
  height: 30px;

  @media(min-width: 1000px) {
    width: 45px;
    height: 45px;
  }
}

.blue {
  background-color: $tertiary-color;
}

.blue--stroke {
  border: 1px solid $tertiary-color;
  background-color: transparent;
}

.blue--medium {
  width: 18px;
  height: 18px;

  @media(min-width: 1000px) {
    width: 23px;
    height: 23px;
  }
}

.blue--bigger {
  width: 30px;
  height: 30px;

  @media(min-width: 1000px) {
    width: 45px;
    height: 45px;
  }
}

.groupDots__one {
  top: 20%;
  left: 5%;
}

.groupDots__two {
  top: 82%;
  left: 22%;
}

.groupDots__three {
  top: 120%;
  left: 85%;
}

.groupDots__four {
  top: 154%;
  left: 72%;
}

.groupDots__five {
  top: 200%;
  left: 24%;

  @media(min-width: 1200px) {
    top: 250%;
  }
}

.groupDots__six {
  top: 244%;
  left: 52%;

  @media(min-width: 1200px) {
    top: 300%;
  }
}

.groupDots__seven {
  top: 280%;
  left: 91%;

  @media(min-width: 1200px) {
    top: 320%;
  }
}

.groupDots__height {
  top: 308%;
  left: 3%;

  @media(min-width: 1200px) {
    top: 350%;
  }
}

@media(min-width: 1200px) {
  .groupDots__nine {
    top: 420%;
    left: 78%;
  }
}

@media(min-width: 1200px) {
  .groupDots__ten {
    top: 470%;
    left: 55%;
  }
}

@media(min-width: 1200px) {
  .groupDots__eleven {
    top: 490%;
    left: 45%;
  }
}

.groupDots__twelve {
  top: 16%;
  left: 78%;
}

.groupDots__thirteen {
  top: 49%;
  left: 46%;

  @media(min-width: 1200px) {
    top: 74%;
  }
}

.groupDots__fourteen {
  top: 82%;
  left: 80%;

  @media(min-width: 1200px) {
    top: 65%;
  }
}

.groupDots__fifteen {
  top: 110%;
  left: 50%;

  @media(min-width: 1200px) {
    top: 180%;
  }
}