.homepage {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0%;
}

.homepage__container {
  display: flex;
  align-items: flex-end;
}

.homepage__title {
  color: white;
  font-family: 'akzidenzgrotesk';
  text-transform: uppercase;
  font-size: 60px;
  padding-left: 20px;


  @media(min-width: 1000px) {
    font-size: 96px;
    padding-left: 245px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: $primary-color;
  border-radius: 100%;
  margin-bottom: 12px;
  margin-left: 10px;

  @media(min-width: 1000px) {
    width: 18px;
    height: 18px;
    margin-bottom: 18px;
    margin-left: 15px;
  }
}

.homepage__text {
  font-family: 'roboto';
  font-weight: lighter;
  color: $primary-color;
  padding-left: 20px;
  padding-top: 66px;

  @media(min-width: 1000px) {
    font-size: 36px;
    padding-left: 245px;
  }
}

.scroll {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  font-family: 'roboto';
  font-weight: lighter;
}

