body {
  background-color: $secondary-color;
}

.content__fade {
  animation: appear 2s ease-in-out ;
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.homepage__title {
  color: white;
  font-family: 'AkzidenzGrotesk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 60px;

  @media(min-width: 576px) {
    font-size: 80px;
  }

  @media(min-width: 1200px) {
    font-size: 100px;
  }

  @media(min-width: 1600px) {
    font-size: 120px;
  }
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  margin-bottom: 8px;
  margin-left: 10px;
  animation: rebound 0.5s ease alternate infinite;


  @media(min-width: 576px) {
    margin-bottom: 10px;
  }

  @media(min-width: 768px) {
    margin-bottom: 12px;
  }

  @media(min-width: 1000px) {
    width: 18px;
    height: 18px;
    margin-left: 15px;
  }

  @media(min-width: 1600px) {
    margin-bottom: 16px;
  }
}

.homepage__subtitle {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: $primary-color;
  font-size: 16px;
  margin-top: 24px;

  @media(min-width: 576px) {
    font-size: 24px;
  }

  @media(min-width: 1200px) {
    font-size: 32px;
    margin-top: 32px;
  }

  @media(min-width: 1600px) {
    font-size: 40px;
  }
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;

  @media(min-width: 1200px) {
    font-size: 18px;
  }

  p {
    margin-top: 8px;
  }
}

