.lines {
  position: fixed;
  top: 0;
  background-color: $secondary-color;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

.line {
  background-color: $primary-color;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
}

.line1 {
  left: 10%; 
}

.line2 {
  left: 20%; 
}

.line3 {
  left: 30%; 
}

.line4 {
  left: 40%; 
}

.line5 {
  left: 50%; 
}

.line6 {
  left: 60%; 
}

.line7 {
  left: 70%; 
}

.line8 {
  left: 80%; 
}

.line9 {
  left: 90%; 
}
