.works {
  position: absolute;
  top : 200%;

  @media(min-width: 1600px) {
    padding-left: 245px;
    padding-right: 245px;
    top : 220%;
  }
}

.works__container {
  display: flex;
  align-items: flex-end;
}

.works__title {
  color: $white-color;
  font-family: 'akzidenzgrotesk';
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 20px;

  @media(min-width: 768px) {
    font-size: 58px;
  }

  @media(min-width: 1600px) {
    font-size: 72px;
  }
}

.works__items {
  padding-left: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;

  @media(min-width: 1600px) {
    height: 500px;
  }
}

.works__item a {
  font-family: 'akzidenzgrotesk';
  font-size: 28px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $primary-color;
  transition: color 0.5s ease-in-out;

  &:hover {
    color: $primary-color;
  }

  @media(min-width: 768px) {
    font-size: 40px;
    letter-spacing: 0.2rem;
  }

  @media(min-width: 1600px) {
    font-size: 60px;
  }
}