@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('/../fonts/akzidenzgrotesk/AkzidenzGroteskBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/../fonts/roboto/Roboto-Light.ttf') format('truetype');
}